---
interface Project {
    name: string;
    description: string;
    link: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: Project[] = [{
    name: 'vita.gt.tc',
    description: 'Vita es una aplicacion de cuidado personal, estilo duolingo con rachas, y obtencion de puntos, realizado como proyecto de la clase "Diseño de Sistemas de internet".',
    link: {
        url: 'https://vita.gt.tc/',
    }
}, {
    name: 'Pokedex-pokemon',
    description: 'Aplicación web interactiva tipo Pokédex que permite explorar información de Pokémon, incluyendo estadísticas, tipos, habilidades y detalles mediante una interfaz dinámica.',
    link: {
        url: 'https://pokedex-pokemon05.netlify.app/'
    }
}, {
    name: 'grupodimelco',
    description: 'Módulo de productos desarrollado para Grupo Dimelco, incorporando filtros por categorías, visualización dinámica de productos y una experiencia responsive orientada a la escalabilidad.',
    link: {
        url: 'https://grupodimelco.com/products/'
    }
}];
---

<div>

    <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        {projects.map(project =>

            <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-gray-900">

                <h3 class="text-xl font-semibold text-white mb-2">
                    {project.name}
                </h3>

                <p class="text-gray-400">
                    {project.description}
                </p>

                {
                    project.link?.url ?
                        <a
                            href={project.link.url}
                            title={project.link.title || project.name}
                            target={project.link.target || '_blank'}
                            class="
                                w-full px-4 py-2.5 mt-4 text-center

                                border border-gray-600 rounded-lg

                                hover:text-primary
                                hover:border-primary
                            ">
                            {project.link.buttonLabel || 'Open Project Website'}
                        </a>
                    : null
                }

            </div>

        )}

    </div>

</div>
