---
import "../styles/global.scss";
---

<!doctype html>
<html lang="en" class="bg-black text-gray-100 font-mono">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/webp" href="/img/logo.webp" />
  </head>

  <body class="min-h-[100vh] flex items-center justify-center p-4">
    <slot />
  </body>
</html>
